* { 
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
   background-image: url(painting.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.chanbox {
    width: 250px;
    height: 380px;
    background-color: rgb(180, 191, 248);
    position: relative;
    left: 800px;
    top: 95px;
}

img {
    position: relative;
    left: 820px;
    top: -250px;
    width: 15%;
    
}

.imgname {
    position: relative;
    left: 880px;
    top: -250px;
    color: rgb(126, 122, 122);
    width: 100px;
    font-size: 13px;
}

.boxtop {
    width: 250px;
    height: 28px;
    background-color: rgba(168, 83, 248, 0.164);
    position: relative;
    left: 800px;
    top: -531px;
}

.Name {
    position: relative;
    left: 805px;
    top: -488px;
    color: green;
    width: 100px;
    font-size: 12px;
}

.id {
    position: relative;
    left: 880px;
    top: -503px;
    color: black;
    width: 100px;
    font-size: 12px;
}

.Date {
    position: relative;
    left: 859px;
    top: -503px;
    color: black;
    width: 200px;
    font-size: 11px;
}

.quote {
    position: relative;
    left: 810px;
    top: -300px;
    width: 230px;
    font-size: 14px;
    color: green;
}

